@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-lavender: #DEEDFF;
    --color-cetacean: #000A5D;
    --color-zaffre: #0014BA;
}

html * {
    font-family: "Wix Madefor Display", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

nav a:not([data-active]) {
    color: #000A5D;
}

.modal-open {
    pointer-events: none;
    position: relative;
}
.modal-open:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 11;
}